altgraph==0.17
APScheduler==3.6.3
attrs==21.2.0
auto-py-to-exe==2.9.0
Automat==20.2.0
beautifulsoup4==4.9.3
behave==1.2.6
bottle==0.12.19
bottle-websocket==0.2.9
cachetools==4.2.2
cachier==1.2.8
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
Click==7.0
colorama==0.4.4
constantly==15.1.0
cryptography==3.4.7
cssselect==1.1.0
Eel==0.12.4
fake-useragent==0.1.11
ffmpy==0.3.0
future==0.18.2
getmac==0.8.2
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.1.0
h2==3.2.0
hpack==3.0.0
hyperframe==5.2.0
hyperlink==21.0.0
idna==2.8
incremental==21.3.0
itemadapter==0.2.0
itemloaders==1.0.4
jmespath==0.10.0
loguru==0.4.0
lxml==4.6.3
mkdir==2020.12.3
MouseInfo==0.1.3
numpy==1.20.3
packaging==19.2
pandas==1.2.4
parse==1.19.0
parse-type==0.5.2
parsel==1.6.0
patch==1.16
pefile==2021.5.24
Pillow==8.2.0
playsound==1.2.2
plumbum==1.6.8
polling2==0.5.0
portalocker==2.3.0
priority==1.3.0
Protego==0.1.16
proxyscrape==0.3.0
pyarmor==6.7.2
pyarmor-webui==1.2.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycparser==2.20
PyDispatcher==2.0.5
pydub==0.25.1
pyfiglet==0.8.post1
PyGetWindow==0.0.9
pyinstaller==4.3
pyinstaller-hooks-contrib==2021.1
pymongo==3.9.0
PyMsgBox==1.0.9
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
python-dateutil==2.8.1
python-rex==0.4
python-telegram-bot==13.6
PyTweening==1.0.3
pytz==2021.1
pywin32==301
pywin32-ctypes==0.2.0
PyYAML==5.3.1
qrcode==6.1
queuelib==1.6.1
requests==2.22.0
scipy==1.7.0
Scrapy==2.5.0
scrapy-proxy-pool==0.1.9
scrapy-user-agents==0.1.1
selenium==3.141.0
service-identity==21.1.0
six==1.16.0
sounddevice==0.4.2
soupsieve==2.2.1
SpeechRecognition==3.8.1
termcolor==1.1.0
tornado==6.1
Twisted==21.2.0
twisted-iocpsupport==1.0.1
tzlocal==2.1
ua-parser==0.10.0
updater==0.1.25
urllib3==1.25.11
user-agents==2.2.0
uuid==1.30
values==2020.12.3
w3lib==1.22.0
watchdog==2.1.2
wavio==0.0.4
whichcraft==0.6.1
win32-setctime==1.0.3
write==2020.12.3
zope.event==4.5.0
zope.interface==5.4.0
